.select-search-option {

    .form-group {
        max-height: 40em;
        overflow-y: hidden;
    }
}

.select-content {
    overflow: auto;
    max-height: 22.5em;
    border-bottom: $heading-border-color 1px solid;
}
